.sign-up {
  padding: 40px;
  margin-top: 60px;
}

.sign-up-form {
  width: 500px;
  box-shadow: 0px 0px 10px 10px rgb(216, 208, 208);
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.sign-up-form h1 {
  text-align: center;
}

.sign-up-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sign-up-inputs .input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-container input,
select {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}
