.log-in {
  padding: 40px;
  margin-top: 10%;
}
.log-in-form {
  width: 500px;
  padding: 20px;
  box-shadow: 0px 0px 10px 10px rgb(185, 183, 183);
  border-radius: 10px;
  margin: 30px auto;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.log-in-form p {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 13px;
  cursor: pointer;
  color: rgb(52, 59, 200);
}
.log-in-form h1 {
  text-align: center;
  font-weight: bolder;
}
.log-in-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.log-in-inputs .input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-container input {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  font-size: 15px;
}
