.price-icon {
  color: #264b47;
  font-weight: bold;
  margin-right: 4px;
}

.product-details-page {
  max-width: 800px;
  padding-top: 6rem;
  margin: auto;
  /* padding: 20px; */
  font-family: Arial, Helvetica, sans-serif;

  border-radius: 10px;
}

.product-details-page .btn {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.edit-btn,
.delete-btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-btn {
  background-color: #547aa2;
  color: #fff;
}

.edit-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.delete-btn {
  background-color: #cf6670;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c82f3e;
  transform: scale(1.05);
}

.details {
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.details .product-image img {
  max-width: 350px;
  max-height: 400px;
  width: auto;
  height: auto;
  object-fit: cover;
  margin: 2% auto;
  border-radius: 10px;
}

.details .product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-details h1 {
  font-size: 24px;
  margin: 0;
}
.product-details p {
  font-size: 16px;
  margin: 0;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}
.btn-add-cart,
.btn-wishlist {
  width: 50%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: gold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-add-cart:hover {
  background-color: rgb(202, 155, 37);
  transform: scale(1.05);
}
.btn-wishlist {
  background-color: rgba(157, 167, 167, 0.371);
}
.btn-wishlist:hover {
  background-color: rgb(157, 167, 167);
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-details-page .btn {
    justify-content: center;
  }

  .product-details h1 {
    font-size: 20px;
  }

  .product-details p {
    font-size: 14px;
  }
}
