.add-product {
  /* margin-top: 40px; */
  padding-top: 80px;
}
.add-product-form {
  width: 500px;
  box-shadow: 0px 0px 10px 10px rgb(172, 171, 171);
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #264b47;
}
.add-product-form h1 {
  text-align: center;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-input-container input,
textarea {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  font-size: 15px;
}
